<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<form action="CreateUsers" method="post" class="upload-form" enctype="multipart/form-data">
		<div>
			<div class="form-group">
				<input type="file" class="input-field" name="inputFile" id="inputFile" value="" required>
				<button type="submit" class="btn btn-login" value="">Upload</button>
			</div>
		</div>
	</form>
</body>